<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Accueil</a>
      <a href="/notes">Notes</a>
      <a href="/users/register">Register</a>
      <a href="/users/login">Login</a>
    </nav>
    <hr>
    <br>
    {{{body}}}
  </body>
</html>
